body {
  max-width: 100%;
  overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 200px; /* Добавляем отступ снизу для видимости шкалы */
    }

/* Фон заголовка сайта */
header {
  background-color: #00BFFF; /* фон заголовка */
  padding: 20px;
}

header h1 {
  color: #FFFFFF; /* Цвет текста заголовка (можно оставить или изменить по желанию) */
  font-weight: bold;
   font-size: 3rem; /* Измените размер текста здесь */
}

/* блок с аятом */
.verse {
  margin: 0px auto;
  border: 2px solid #1E90FF;
  padding: 20px;
  width: 100%;
  font-size: 1.5rem;
  background-color: #1E90FF; /* Добавляем цвет фона */
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 300px;
  height: 60px; /* Сделать кнопки квадратными */
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Оставляем небольшие скругленные углы */
  box-shadow: 0 2px #333; /* Добавляем тень для объёмного эффекта */
  transition: all 0.2s ease;
}

button:active {
  box-shadow: 0 2px #111; /* Эффект нажатия */
  transform: translateY(2px); /* Кнопка как бы "погружается" при нажатии */
}

button.green {
  background-color: #228B22;
}

button.red {
  background-color: #B22222;
}

button.green.clicked {
  background-color: #ADFF2F;
}

button.red.clicked {
  background-color: #FF0000;
}

.progress-wrapper {
  position: fixed;
  bottom: 40px; /* Приподнимаем шкалу от самого низа */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.progress-text {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #1E90FF; /* Цвет рамки */
  border-radius: 10px; /* Скругление углов рамки */
  background-color: #1E90FF; /* Цвет фона текста для контраста */
  display: inline-block; /* Чтобы рамка не растягивалась на всю ширину контейнера */
}

.progress-container {
  background-color: #333333; /* Цвет пустой части */
  border: 2px solid #1E90FF; /* Рамка */
  border-radius: 15px; /* Скругленные углы */
  height: 30px;
  width: 100%;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #1E90FF;
  transition: width 0.5s;
  border-radius: 15px; /* Скругление для заполненной части */
}

.motivation {
  text-align: center;
  margin: 30px;
  font-size: 1.5rem;
  color: #1E90FF;
}
