body {
  max-width: 100%;
  overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding-bottom: 200px; /* Добавляем отступ снизу для видимости шкалы */
    }

/* Блок вопросов */
.questions {
  margin: 0 auto; /* Центрируем блок с вопросами */
  width: 80%; /* Ширина блока вопросов */
  text-align: center; /* Центрируем текст внутри блока */
}

/* Сами вопросы */
.question {
  text-align: center; /* Центрируем текст вопросов */
  font-size: 1.2rem; /* Размер шрифта вопросов */
}


/* Фон заголовка сайта */
header {
  background-color: #FFAA00; /* фон заголовка */
  padding: 20px;
}

header h1 {
  color: #FFFFFF; /* Цвет текста заголовка (можно оставить или изменить по желанию) */
  font-weight: bold;
   font-size: 3rem; /* Измените размер текста здесь */
}

/* блок с аятом */
.verse {
  margin: 0px auto;
  padding: 20px;
  font-size: 1.5rem;
  font-family: 'Times New Roman', serif; /* Замените на нужный шрифт */
  color: #ffffff; /* Цвет текста */
}

/* Стили для кнопок */
.buttons {
  display: flex;
  justify-content: center; /* Центрируем кнопки */
  gap: 3px; /* Расстояние между кнопками */
}

button {
  width: 250px;
  height: 60px; /* Сделать кнопки квадратными */
  padding: 10px;
  border: 2px solid #1E90FF; /* Добавляем рамку: толщина, стиль и цвет */
  cursor: pointer;
  border-radius: 0px; /* Оставляем небольшие скругленные углы */
  transition: all 0.2s ease;
  font-size: 20px; /* Изменяет размер шрифта */
  font-weight: bold; /* Делает текст жирным */
  color: white; /* Цвет текста */
  text-transform: uppercase; /* Преобразует текст в верхний регистр */
}
}

button:active {
  box-shadow: 0 2px #111; /* Эффект нажатия */
  transform: translateY(2px); /* Кнопка как бы "погружается" при нажатии */
}

button.green {
  background-color: #1a1a1a;
  border-color: #007439; /* Цвет рамки для зеленой кнопки */
}

button.red {
  background-color: #1a1a1a;
  border-color: #94002D; /* Цвет рамки для красной кнопки */
}

button.green.clicked {
  background-color: #00B358;
}

button.red.clicked {
  background-color: #BF3030;
}

.progress-wrapper {
  position: fixed;
  bottom: 40px; /* Приподнимаем шкалу от самого низа */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
}

.progress-text {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #FFAA00; /* Цвет рамки */
  border-radius: 10px; /* Скругление углов рамки */
  background-color: #FFAA00; /* Цвет фона текста для контраста */
  display: inline-block; /* Чтобы рамка не растягивалась на всю ширину контейнера */
}

.progress-container {
  background-color: #333333; /* Цвет пустой части */
  border: 2px solid #FFAA00; /* Рамка */
  border-radius: 15px; /* Скругленные углы */
  height: 30px;
  width: 100%;
  overflow: hidden;
}

#progress-bar {
  height: 100%;
  width: 0;
  transition: width 0.5s, background-color 0.5s; /* Плавная анимация */
  border-radius: 15px;
}

.motivation {
  display: none; /* Скрываем мотивацию по умолчанию */
  text-align: center;
  margin: 40px;
  font-size: 1.5rem;
  color: #1E90FF;
}
